### Heroes Of Pymoli Data Analysis
If we look at the data set we have;
* Number of the players playing the game 576 People.

* The game is very popular among Male Players(484 Male Players) but it attracts the attention of Female Players(81 Female Players) too.

* Between "20-24" age group(258 people, 44.79%) has a large number of players, 40+ age group has the lowest number(12 people, 2,08%) of players.

* When we look at the number of purchases, the most popular item is "Final Critic".players bought 13 times.

* Total Revenue from the game "$2,379.77".

-----

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Save file path to variable
# Read with Pandas
Heros_csv = "Resources/purchase_data.csv"
Heros_df = pd.read_csv(Heros_csv)
Heros_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Total Number of Players
Total_players = len(Heros_df["SN"].unique())
Total_players_df = pd.DataFrame({"Total Players": [Total_players]})
Total_players_df

   Total Players
0            576

In [4]:
## Purchasing Analysis (Total)
#  Number of Unique Items
Unique   = len(Heros_df["Item ID"].unique())
#  Average Purchase Price
Average  = Heros_df["Price"].mean()
#  Total Number of Purchases
TotalNP  = len(Heros_df["Purchase ID"])
#  Total Revenue
TotalRev = Heros_df["Price"].sum()
## Create a New DataFrame & Format
Purc_Anly = pd.DataFrame ({"Number of Unique Items": [Unique],"Average Purschase Price": [Average],"Total Number of Purchases": [TotalNP],"Total Revenue": [TotalRev]})
Purc_Anly["Average Purschase Price"] = Purc_Anly["Average Purschase Price"].map("${:.2f}".format)
Purc_Anly["Total Revenue"] = Purc_Anly["Total Revenue"].map("${:,.2f}".format)
Purc_Anly = Purc_Anly[["Number of Unique Items","Average Purschase Price","Total Number of Purchases","Total Revenue"]]
Purc_Anly

,Number of Unique Items,Average Purschase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [5]:
## GENDER DEMOGRAPHICS
#  Finding Correct Gender Number Then Taking Percentage
PlayersGender  = Heros_df.loc[:,["Gender", "SN", "Age"]]
PlayersGender  = PlayersGender.drop_duplicates()
GenderTotal    = PlayersGender["Gender"].value_counts()
PercentPlayers = GenderTotal / Total_players * 100
## Making New DataFrame & Format
Gender_Demographics = pd.DataFrame({"COUNT": GenderTotal,"PERCENTAGE OF GENDERS": PercentPlayers})
Gender_Demographics["PERCENTAGE OF GENDERS"] = Gender_Demographics["PERCENTAGE OF GENDERS"].map("{:.2f}%".format)
Gender_Demographics

                       COUNT PERCENTAGE OF GENDERS
Male                     484                84.03%
Female                    81                14.06%
Other / Non-Disclosed     11                 1.91%

In [6]:
### Purchasing Analysis (Gender)
#   Data Manipulation
PurcCount = Heros_df.groupby(["Gender"]).count()["Price"]
PurcAvgP  = Heros_df.groupby(["Gender"]).mean()["Price"]
TotPurcV  = Heros_df.groupby(["Gender"]).sum()["Price"]
AvgTotalPP= TotPurcV/GenderTotal
##  Making New DataFrame & Format
Purc_AnlyGender=pd.DataFrame({"PURCHASE COUNT":PurcCount, "AVERAGE PURCHASE PRICE":PurcAvgP, "TOTAL PURCHASE VALUE": TotPurcV, "AVG TOTAL PURCHASE PER PERSON":AvgTotalPP})
Purc_AnlyGender = Purc_AnlyGender[["PURCHASE COUNT", "AVERAGE PURCHASE PRICE", "TOTAL PURCHASE VALUE", "AVG TOTAL PURCHASE PER PERSON"]]
Purc_AnlyGender ["AVERAGE PURCHASE PRICE"]  = Purc_AnlyGender["AVERAGE PURCHASE PRICE"].map("${:.2f}".format)
Purc_AnlyGender ["TOTAL PURCHASE VALUE"]    = Purc_AnlyGender["TOTAL PURCHASE VALUE"].map("${:.2f}".format)
Purc_AnlyGender ["AVG TOTAL PURCHASE PER PERSON"] = Purc_AnlyGender["AVG TOTAL PURCHASE PER PERSON"].map("${:.2f}".format)
Purc_AnlyGender

,PURCHASE COUNT,AVERAGE PURCHASE PRICE,TOTAL PURCHASE VALUE,AVG TOTAL PURCHASE PER PERSON
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
### Age Demographics
#   Create Age Bins
Bins      = [0, 9, 14, 19, 24, 29, 34, 39, 100]
BinLabels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#   Add Column For Bin Labels
PlayersGender[""] = pd.cut(PlayersGender["Age"], Bins, labels=BinLabels)
#   Data Manipulation
AgeDem   = PlayersGender.groupby([""])
AgeCount = AgeDem["Age"].count()
AgePP    = AgeCount/Total_players * 100
##  Making New DataFrame & Format
Age_Demog = pd.DataFrame({"TOTAL COUNT": AgeCount,"PERCENTAGE OF PLAYERS": AgePP})
Age_Demog["PERCENTAGE OF PLAYERS"] = Age_Demog["PERCENTAGE OF PLAYERS"].map("{:.2f}%".format)
Age_Demog

       TOTAL COUNT PERCENTAGE OF PLAYERS

<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [8]:
### Purchasing Analysis (Age)
#  Add Bins To New DataFrame & Groupby
Bin_df = Heros_df.copy()
Bin_df["AGE GROUPS"] = pd.cut(Bin_df["Age"], Bins, labels=BinLabels)
BinColumn = pd.cut(Bin_df["Age"], Bins, labels=BinLabels)
Group_bin = Bin_df.groupby(["AGE GROUPS"])
#  Data Manipulation
BinPCount = Group_bin["Age"].count()
BinPAver  = Group_bin["Price"].mean()
BinPTotal = Group_bin["Price"].sum()
#  Deleting Duplicates For New Counts
BinDuplicate = Heros_df.drop_duplicates(subset='SN', keep="first")
BinDuplicate ["AGE GROUPS"] = pd.cut(BinDuplicate["Age"], Bins, labels=BinLabels)
BinDuplicate = BinDuplicate.groupby(["AGE GROUPS"])
BinAvg  = (Group_bin["Price"].sum() / BinDuplicate["SN"].count())
## Making New DataFrame & Format
Purc_AnlyAge = pd.DataFrame({"PURCHASE COUNT": BinPCount,"AVERAGE PURCHASE PRICE": BinPAver,"TOTAL PURCHASE VALUE": BinPTotal,"AVG PURCHASE TOTAL PP BY AGE": BinAvg})
Purc_AnlyAge ["AVERAGE PURCHASE PRICE"] = Purc_AnlyAge["AVERAGE PURCHASE PRICE"].map("${:.2f}".format)
Purc_AnlyAge ["TOTAL PURCHASE VALUE"]   = Purc_AnlyAge["TOTAL PURCHASE VALUE"].map("${:.2f}".format)
Purc_AnlyAge ["AVG PURCHASE TOTAL PP BY AGE"] = Purc_AnlyAge["AVG PURCHASE TOTAL PP BY AGE"].map("${:.2f}".format)
Purc_AnlyAge = Purc_AnlyAge[["PURCHASE COUNT", "AVERAGE PURCHASE PRICE", "TOTAL PURCHASE VALUE", "AVG PURCHASE TOTAL PP BY AGE"]]
Purc_AnlyAge.head(10)

/Users/rc/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,PURCHASE COUNT,AVERAGE PURCHASE PRICE,TOTAL PURCHASE VALUE,AVG PURCHASE TOTAL PP BY AGE
AGE GROUPS,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [9]:
### Top Spenders
#  SN
SN = Heros_df.loc[:,["SN"]]
SN = SN.drop_duplicates()
#  Data Manipulation
SN_Real = SN["SN"].value_counts()
SNTotal = Heros_df.groupby(["SN"]).count()["Price"].rename("PURCHASE COUNT")
SNAvg   = Heros_df.groupby(["SN"]).mean()["Price"].rename("AVERAGE PURCHASE PRICE")
SN_ToatlPurchase = Heros_df.groupby(["SN"]).sum()["Price"].rename("TOTAL PURCHASE VALUE")
## Making New DataFrame & Format
TopSpenders_Anly  = pd.DataFrame({"PURCHASE COUNT": SNTotal,"AVERAGE PURCHASE PRICE": SNAvg ,"TOTAL PURCHASE VALUE": SN_ToatlPurchase})
TopSpenders_Anly  = TopSpenders_Anly.sort_values("TOTAL PURCHASE VALUE", ascending=False)
TopSpenders_Anly ["AVERAGE PURCHASE PRICE"] = TopSpenders_Anly["AVERAGE PURCHASE PRICE"].map("${:.2f}".format)
TopSpenders_Anly ["TOTAL PURCHASE VALUE"]   = TopSpenders_Anly["TOTAL PURCHASE VALUE"].map("${:.2f}".format)
TopSpenders_Anly.head()

             PURCHASE COUNT AVERAGE PURCHASE PRICE TOTAL PURCHASE VALUE
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [10]:
### Most Popular Items
#  Item ID & Item Name
GrpItem   = Heros_df.groupby(["Item ID", "Item Name"])
#  Data Manipulation
GrpItemC  = GrpItem["SN"].count()
GrpPriceS = GrpItem["Price"].sum()
GrpItemP  = (GrpPriceS / GrpItemC)
GrpItemV  = (GrpItemP * GrpItemC)
## Making New DataFrame & Format
PopItem_Anly = pd.DataFrame({"PURCHASE COUNT": GrpItemC, "ITEM PRICE": GrpItemP, "TOTAL PURCHASE VALUE": GrpItemV})
PopItem_Anly = PopItem_Anly.sort_values("PURCHASE COUNT", ascending=False)
PopItem_Anly["ITEM PRICE"] = PopItem_Anly["ITEM PRICE"].map("${:.2f}".format)
PopItem_Anly["TOTAL PURCHASE VALUE"] = PopItem_Anly["TOTAL PURCHASE VALUE"].map("${:.2f}".format)
PopItem_Anly = PopItem_Anly[["PURCHASE COUNT", "ITEM PRICE", "TOTAL PURCHASE VALUE"]]
PopItem_Anly.head()

,,PURCHASE COUNT,ITEM PRICE,TOTAL PURCHASE VALUE
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [11]:
### Most Profitable Items
#  Item ID & Item Name
GrpItem  = Heros_df.groupby(["Item ID", "Item Name"])
#  Data Manipulation
GrpItemC = GrpItem ["Gender"].count()
GrpItemS = GrpItem ["Price"].sum()
GrpItemP = (GrpItemS  / GrpItemC)
## Making New DataFrame and Format
ProfitableItem_Anly = pd.DataFrame({"PURCHASE COUNT": GrpItemC,"ITEM PRICE": GrpItemP,"TOTAL PURCHASE VALUE": GrpItemS })
ProfitableItem_Anly = ProfitableItem_Anly.sort_values("TOTAL PURCHASE VALUE", ascending=False)
ProfitableItem_Anly["ITEM PRICE"] = ProfitableItem_Anly["ITEM PRICE"].map("${:.2f}".format)
ProfitableItem_Anly["TOTAL PURCHASE VALUE"] = ProfitableItem_Anly["TOTAL PURCHASE VALUE"].map("${:.2f}".format)
ProfitableItem_Anly = ProfitableItem_Anly[["PURCHASE COUNT", "ITEM PRICE", "TOTAL PURCHASE VALUE"]]
ProfitableItem_Anly.head()

,,PURCHASE COUNT,ITEM PRICE,TOTAL PURCHASE VALUE
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80